.div__form {
    text-align: center;
}
.team__container {
    display: flex;
}

.team__info__container {
    font-size: 1.5em;
    font-family: monospace;
    font-weight: normal;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-align: center;
    border-radius: 15px;
    width: 600px;
    margin: 80px auto;
    box-shadow: 0 4px 0px #333;
    background: lightgray;
}

.button__team__form {
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 15px;
}

.form__team__modal input {
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin: auto;
    
}

.button__team__form {
    margin-top: 20px;
    margin-left: -950px;
    border-radius: 10px;
    color:black;
    background-color: white;
}

.button__team__form:hover {
    color: white;
    background-color: black;
}

.team__form {
    align-items: center;
    position: relative;
}

