.div__form {
    text-align: center;

}
.card__content {
    text-align: center;
}
.makeStyles-root-1 {
    background-color: ‘white’;
    width: ‘30rem’;
    border-radius: ‘7px’;
    box-shadow: ‘0 20px 20px rgba(0, 0, 0, 0.2), 0px, 0px, 50px rgba(0, 0, 0, 0.2);
    padding: 0.5rem
}