.title__home {
    text-align: center;
    padding: 45px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    align-items: center;
    display: block;
    width: 800px;
    font-size: 25px;
}
.home__image {
    width: 100%;
    position: absolute;
    top: 245px;
    left: 0;
}

