.navbar {
    height: 65px;
    display: flex;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-logo {
    width: 150px;
    height: 120px;
    object-fit: contain;
    margin: 0 15px ;
    margin-top: 0px;
}

.navbar-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.navbar-searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: lightyellow;

}

.navbar-header {
    display: flex;
    justify-content: space-evenly;
}

.navbar-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.navbar-optionLineOne {
    font-size: 10px;
}


.navbar-optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}
