.navbar {
    height: 65px;
    display: flex;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-logo {
    width: 150px;
    height: 120px;
    object-fit: contain;
    margin: 0 15px ;
    margin-top: 0px;
}

.navbar-header {
    display: flex;
    justify-content: space-evenly;
    font-family: monospace;
    font-size: 15px;
    text-decoration: 'none';
    font-weight: 800;
    padding-left: 75px;
}

.navbar-option {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    color: white;
    position: relative;
}

/* 
.navbar-optionLineTwo {
    font-size: 15px;
    font-weight: 800;
    text-decoration: 'none'
} */
