.picture__scoreboard {
    background-image: url(../scoreboard/score.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 600px;
    
}

.team__one__title {
    color: white;
    position: fixed;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 69%;
    left: 44%;
    margin: -100px 0 0 -150px;
}
.team__two__title {
    color: white;
    /* display: flex; */
    position: fixed;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 69%;
    left: 71%;
    margin: -100px 0 0 -150px;
}

.buttons__one {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 80%;
    left: 40%;
    margin: -100px 0 0 -150px;
}

.buttons__two {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 80%;
    left: 67%;
    margin: -100px 0 0 -150px;
}
